{% load i18n %}
  <div>
    <div class="flower-mailbox-email">
      <div>
        {% if email_mailboxes %}
          <p><small class="text-muted">{% trans "The following email addresses will deliver email to the mailbox controlled by this user." %}</small></p>
          <table class="table" id="flower-email-mailbox-table">
            <tbody id="flower-email-destinaton-tbody">
            {% for email_mailbox in email_mailboxes %}
              <tr>
                <td class="flower-email-mailbox text-muted">{{ email_mailbox.local }}@{{ email_mailbox.domain_name }}</td>
                <td><button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete-{{ email_mailbox.id }}">{% trans 'Delete' %}</button></td>
                {% include 'modal/delete_confirm.html' with id=email_mailbox.id resource="email-mailbox" desc=email_mailbox %} 
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p><span class="text-muted">{% trans "No email addresses are configured for this login." %}</span></p>
        {% endif %}
      </div>
      
    </div>
  </div>
