{% load i18n %}
<div class="modal fade" id="flower-modal-add-domain-zone" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >{% trans "Add a new domain zone" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="div_id_domain" class="form-group">
          {{ domain_zone_form.domain.label_tag }} 
          {{ domain_zone_form.domain }}
          <div id="errors_domain" class="errorlist"></div>
          {% if domain_zone_form.domain.help_text %}
            <small class="text-muted">{{ domain_zone_form.domain.help_text|safe }}</small>
          {% endif %}
        </div>
        <div class="col">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
            <button id="flower-modal-submit-add-domain-zone" type="button" class="btn btn-primary">{% trans "Create Domain Zone" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
