{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}
<div id="flower-domain-name-form" class="flower-resource-form">
  <script>
    var domain_name_category_map = {
    {% for domain_category in domain_name_category_map %}
      {{ domain_category.key }}: '{{ domain_category.label }}',
    {% endfor %}
    };
    var webproxy_default_server_name = '{{ webproxy_default_server_name }}';
  </script>

  <h2>{% trans 'Domain Name' %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.member.as_hidden }}
    <div id="div_id_category" class="form-group">
      {{ form.category.label_tag }} 
      {% if form.category.help_text %}
        <div><small class="text-muted">{{ form.category.help_text|safe }}</small></div>
      {% endif %}
      {{ form.category }}
      {{ form.category.errors }}
    </div>
    <div class="form-group" id="flower-domain-name-label-and-zone">
        <label>{% trans "Domain name" %}:</label>
      <div class="form-row">
        <div class="col">
          {% if form.label.help_text %}
            <div><small class="text-muted">{{ form.label.help_text|safe }}</small></div>
          {% endif %}
          {{ form.label }}
          {{ form.label.errors }}
        </div>
        <div class="col flower-domain-zone-display-container">
          <code class="text-muted flower-domain-zone-display-text"><strong>.{{ domain_zone }}</strong></code>
          {{ form.domain_zone.as_hidden }}
        </div>
      </div>
    </div>
    <div id="div_id_ip_address" class="form-group">
      {{ form.ip_address.label_tag }} 
      {% if form.ip_address.help_text %}
        <div><small class="text-muted">{{ form.ip_address.help_text|safe }}</small></div>
      {% endif %}
      {{ form.ip_address }}
      {{ form.ip_address.errors }}
    </div>
    <div id="div_id_ttl" class="form-group">
      {{ form.ttl.label_tag }} 
      {% if form.ttl.help_text %}
        <div><small class="text-muted">{{ form.ttl.help_text|safe }}</small></div>
      {% endif %}
      {{ form.ttl }}
      {{ form.ttl.errors }}
    </div>
    <div id="div_id_server_name" class="form-group">
      {{ form.server_name.label_tag }} 
      {% if form.server_name.help_text %}
        <div><small class="text-muted">{{ form.server_name.help_text|safe }}</small></div>
      {% endif %}
      {{ form.server_name }}
      {{ form.server_name.errors }}
    </div>
    <div id="div_id_txt" class="form-group">
      {{ form.txt.label_tag }} 
      {% if form.txt.help_text %}
        <div><small class="text-muted">{{ form.txt.help_text|safe }}</small></div>
      {% endif %}
      {{ form.txt }}
      {{ form.txt.errors }}
    </div>
    <div id="div_id_distance" class="form-group">
      {{ form.distance.label_tag }} 
      {% if form.distance.help_text %}
        <div><small class="text-muted">{{ form.distance.help_text|safe }}</small></div>
      {% endif %}
      {{ form.distance }}
      {{ form.distance.errors }}
    </div>
    <div id="div_id_port" class="form-group">
      {{ form.port.label_tag }} 
      {% if form.port.help_text %}
        <div><small class="text-muted">{{ form.port.help_text|safe }}</small></div>
      {% endif %}
      {{ form.port }}
      {{ form.port.errors }}
    </div>
    <div id="div_id_weight" class="form-group">
      {{ form.weight.label_tag }} 
      {% if form.weight.help_text %}
        <div><small class="text-muted">{{ form.weight.help_text|safe }}</small></div>
      {% endif %}
      {{ form.weight }}
      {{ form.weight.errors }}
    </div>
    <div id="div_id_sshfp_algorithm" class="form-group">
      {{ form.sshfp_algorithm.label_tag }} 
      {% if form.sshfp_algorithm.help_text %}
        <div><small class="text-muted">{{ form.sshfp_algorithm.help_text|safe }}</small></div>
      {% endif %}
      {{ form.sshfp_algorithm }}
      {{ form.sshfp_algorithm.errors }}
    </div>
    <div id="div_id_sshfp_type" class="form-group">
      {{ form.sshfp_type.label_tag }} 
      {% if form.sshfp_type.help_text %}
        <div><small class="text-muted">{{ form.sshfp_type.help_text|safe }}</small></div>
      {% endif %}
      {{ form.sshfp_type }}
      {{ form.sshfp_type.errors }}
    </div>
    <div id="div_id_sshfp_data" class="form-group">
      {{ form.sshfp_data.label_tag }} 
      {% if form.sshfp_data.help_text %}
        <div><small class="text-muted">{{ form.sshfp_data.help_text|safe }}</small></div>
      {% endif %}
      {{ form.sshfp_data }}
      {{ form.sshfp_data.errors }}
    </div>

    <div class="flower-save" id="flower-domain-name-save">
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
    </div>
  </form>
</div>
{% endblock %}
