{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}
<h1>{% trans 'Email ' %}</h1>

<p class="text-muted">{% trans "All Email addresses. A <em>mailbox</em> address delivers email to a Login that you can check with a username and password. An <em>alias</em> address sends email to another email address." %}</p>

<a class="btn btn-primary" href="{% url 'email-mailbox-create' member_pk %}">{% trans 'New Email Mailbox' %}</a>
<a class="btn btn-primary" href="{% url 'email-alias-create' member_pk %}">{% trans 'New Email Alias' %}</a>

{% if entity_list %}
  <table class="table">
    <tr>
      <th>{% trans 'Email' %}</th><th>{% trans 'Delivers to' %}</th><th>{% trans 'Type' %}</th><th>{% trans "Status" %}</th><th>{% trans 'Actions' %}</th>
    </tr>
    {% for entity in entity_list %}
      <tr class="{% if entity.display_as_disabled %}text-muted{% endif %}">
        <td>{{ entity.local }}@{{ entity.domain_name }}</td>
        <td>{{ entity.get_display_destination }}</td>
        <td>{{ entity.get_display_type }}</td>
        <td>{{ entity.get_display_status }}</td>
        <td>
          {% if entity.get_type == 'mailbox' %}
            <a class="btn btn-info" href="{% url 'email-mailbox-update' member_pk entity.id %}">{% trans 'Edit' %}</a>
            <a class="btn btn-danger" href="{% url 'email-mailbox-delete' member_pk entity.id %}">{% trans 'Delete' %}</a>
            {% if entity.display_as_disabled %}
              <a class="btn btn-success" href="{% url 'email-mailbox-enable' member_pk entity.id %}">{% trans 'Enable' %}</a>
            {% else %}
              <a class="btn btn-warning" href="{% url 'email-mailbox-disable' member_pk entity.id %}">{% trans 'Disable' %}</a>
            {% endif %}
          {% else %}
            <a class="btn btn-info" href="{% url 'email-alias-update' member_pk entity.id %}">{% trans 'Edit' %}</a>
            <a class="btn btn-danger" href="{% url 'email-alias-delete' member_pk entity.id %}">{% trans 'Delete' %}</a>
            {% if entity.display_as_disabled %}
              <a class="btn btn-success" href="{% url 'email-alias-enable' member_pk entity.id %}">{% trans 'Enable' %}</a>
            {% else %}
              <a class="btn btn-warning" href="{% url 'email-alias-disable' member_pk entity.id %}">{% trans 'Disable' %}</a>
            {% endif %}
          {% endif %}
          

        </td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
    <nav aria-label="Navigation links">
      <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
      {% endif %}
      <li class="page-item"><span class="page-link text-muted">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</span></li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
      {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endif %}

{% endblock %}


