{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}
<div id="flower-email-mailbox-form" class="flower-resource-form">
  <h2>{% trans 'Email Mailbox' %}</h2>
  <p class="text-muted">{% trans "An <em>email mailbox</em> includes both an email address and the login to which email should be delivered."   %}</p>
  <form method="post">{% csrf_token %}
  {{ form.member.as_hidden }}
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a id="flower-email-mailbox-activate-fields" class="nav-link active" role="tab" data-toggle="tab" href="#flower-email-mailbox-fields" aria-controls="Email Mailbox fields" aria-selected="true">{% trans "Email Mailbox fields" %}</a>
      </li>
      <li class="nav-item">
        <a id="flower-email-mailbox-activate-history" class="nav-link" role="tab" data-toggle="tab" href="#flower-history" aria-controls="History" aria-selected="false">{% trans "History" %}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="flower-email-mailbox-fields" class="tab-pane active" role="tabpanel">
        <div class="form-group">
          <label>{% trans "Email Address" %}:</label>
        </div>
        <div class="form-row">
          <div class="col">
            {% if form.local.help_text %}
              <small class="text-muted">{{ form.local.help_text|safe }}</small>
            {% endif %}
            {{ form.local }}
            {{ form.local.errors }}
          </div>
          <div class="col">
            {% if form.domain_name.help_text %}
              <small class="text-muted">{{ form.domain_name.help_text|safe }}</small>
            {% endif %}
            <small><a href="#" data-toggle="modal" data-target="#flower-modal-add-domain-zone">{% trans 'Domain not listed? Add a new one.' %}</a></small >
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              {{ form.domain_name }}
            </div>
            {{ form.domain_name.errors }}
          </div>
        </div>

        <div id="div_id_login" class="form-group">
          {{ form.login.label_tag }} 
          <div>
            {% if form.login.help_text %}
              <small class="text-muted">{{ form.login.help_text|safe }}</small>
            {% endif %}
          <small><a href="#" data-toggle="modal" data-target="#flower-modal-add-login">{% trans 'Login not listed? Add a new one.' %}</a></small>
          </div>
          {{ form.login }}
          {{ form.login.errors }}
        </div>
        <div class="flower-save">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>
      </div>
      <div id="flower-history" class="tab-pane" role="tabpanel">
        <div>
          <div><strong>Current status</strong>: {{ current_display_status }}</div>
          <table class="table">
            <tr>
              <th>{% trans "Date" %}</th><th>{% trans "Action" %}</th><th>{% trans "Status" %}</th><th>{% trans "Modified by" %}</th><th>{% trans "Error" %}</th>
            </tr>
            {% for runner in runners %}
            <tr {% if not runner.is_active %}class="text-muted"{% endif %}>
              <td>{{ runner.nonce_created }}</td><td>{{ runner.get_petal_action_display }}</td><td>{{ runner.get_current_status_display }}</td><td>{{ runner.modified_by }}</td><td>{{ runner.error }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div> 
  </form>

 <!-- Keep the modals out of the main form -->
 {% include 'modal/domain_zone_form.html' %}
 {% include 'modal/login_form.html' %}
</div>
{% endblock %}
