{% extends "base_generic.html" %}

{% load i18n %}

{% block content %}

<div class="flower-feedback-list flower-top-container">
  <h1>{% trans 'Feedback' %}</h1>

  <p class="text-muted">{% trans "A list of all feedback is below." %}</p>

  {% if entity_list %}
    <table class="table">
      <tr>
        <th>{% trans 'Rank' %}</th><th>{% trans 'Comments' %}</th><th>{% trans 'Actions' %}</th>
      </tr>
      {% for entity in entity_list %}
        <tr>
          <td>{{ entity.rank }}</td>
          <td>{{ entity.comments|truncatewords:25 }}</td>
          <td>
            <a class="btn btn-info" href="{% url 'feedback-detail' entity.id %}">{% trans 'View full record' %}</a>
            <a class="btn btn-danger" href="{% url 'feedback-delete' entity.id %}">{% trans 'Delete' %}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock %}


