{% load i18n %}
{% load static %}

  <title>{% trans "May First Movement Technology Control Panel" %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.4.3.1.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.5.8.1.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/select2.4.0.7.min.css' %}">
  <!-- Add additional CSS in static file -->
  <link rel="stylesheet" href="{% static 'css/flower.css' %}">
