{% load i18n %}

<div id="flower-history" class="tab-pane" role="tabpanel">
  <div>
    <strong>Current status</strong>: {{ current_display_status }}
  </div>
  <table class="table">
    <tr>
      <th>{% trans "Date" %}</th><th>{% trans "Server" %}</th><th>{% trans "Action" %}</th><th>{% trans "Status" %}</th><th>{% trans "Modified by" %}</th><th>{% trans "Error" %}</th>
    </tr>
    {% for runner in runners %}
    <tr {% if not runner.is_active %}class="text-muted"{% endif %}>
      <td>{{ runner.nonce_created }}</td>
      <td>{{ runner.petal }}</td>
      <td>{{ runner.get_petal_action_display }}</td>
      <td>{{ runner.get_current_status_display }}</td>
      <td>{{ runner.modified_by }}</td>
      <td>{{ runner.error }}</td>
    </tr>
    {% endfor %}
  </table>
</div> 

