{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}
<div id="flower-login-form-update" class="flower-resource-form">
  <h2>{% trans 'Login' %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.member.as_hidden }}
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a id="flower-login-activate-basic-settings" class="nav-link active" role="tab" data-toggle="tab" href="#flower-login-basic" aria-controls="Basic Settings" aria-selected="true">{% trans "Basic Settings" %}</a>
      </li>
      <li class="nav-item">
        <a id="flower-login-activate-email-settings" class="nav-link" role="tab" data-toggle="tab" href="#flower-login-email" aria-controls="Email Settings" aria-selected="false">{% trans "Email Settings" %}</a>
      </li>
      <li class="nav-item">
        <a id="flower-login-activate-access-settings" class="nav-link" role="tab" data-toggle="tab" href="#flower-login-access" aria-controls="Access Settings" aria-selected="false">{% trans "Access Settings" %}</a>
      </li>
      <li class="nav-item">
        <a id="flower-login-activate-history" class="nav-link" role="tab" data-toggle="tab" href="#flower-history" aria-controls="History" aria-selected="false">{% trans "History" %}</a>
      </li>

    </ul>

    <div class="tab-content">
      <div id="flower-login-basic" class="tab-pane active" role="tabpanel">

        <div class="flower-save">
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>

        <div id="div_id_first_name" class="form-group">
          {{ form.first_name.label_tag }} 
          {% if form.first_name.help_text %}
            <div><small class="help">{{ form.first_name.help_text|safe }}</small></div>
          {% endif %}
          {{ form.first_name }}
          {{ form.first_name.errors }}
        </div>
        <div id="div_id_last_name" class="form-group">
          {{ form.last_name.label_tag }} 
          {% if form.last_name.help_text %}
            <div><small class="text-muted">{{ form.last_name.help_text|safe }}</small></div>
          {% endif %}
          {{ form.last_name }}
          {{ form.last_name.errors }}
        </div>
        <div id="div_id_username" class="form-group">
          {{ form.username.label_tag }} 
          <!-- Override on update to explain that you can't edit the username -->
          <div><small class="text-muted">{% trans "You cannot update an existing username. Please create a new login instead and delete this one if you don't need it anymore." %}</small></div>
          {{ form.username }}
          {{ form.username.errors }}
          
        </div>
        <div id="div_id_password" class="form-group">
          {{ form.password.label_tag }} 
          <!-- Override help text so we can display different text on create vs update -->
          <div><small class="text-muted">{% trans "Leave the password field blank if you do not want to change it. Enter a new password that is at least 10 characters long if you want to change it. Or " %} <a href="#" id="flower-login-generate-random-password">{% trans ' click here to generate a random password yourself.' %}</a></small></div>
          <!-- hard code the password field so we can always display an empty password on edit. -->
          <input type="password" name="{{ form.password.html_name }}" value="" maxlength="64" id="{{ form.password.id_for_label }}" class="form-control">
          {{ form.password.errors }}
        </div>
        <div id="div_id_recovery_email" class="form-group">
          {{ form.recovery_email.label_tag }} 
          {% if form.recovery_email.help_text %}
            <div><small class="text-muted">{{ form.recovery_email.help_text|safe }}</small></div>
          {% endif %}
          {{ form.recovery_email }}
          {{ form.recovery_email.errors }}
        </div>
        <div class="form-group form-check">
          <input type="checkbox" name="flower_send_password_reset" id="flower_send_password_reset" />
          <label class="form-check-label" for="flower_send_password_reset">
            <small class="text-muted">{% trans "Send password reset link to the recovery email when you save this record." %}</small>
          </label>

        </div>
        <div class="flower-save">
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>

      </div>
      <div id="flower-login-email" class="tab-pane" role="tabpanel">
        <!-- The list of email addresses linked to this login is loaded via ajax and populates the div below so it can be refreshed whenever an email is added. -->

       <div class="flower-save">
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>

        <div id="flower-mailbox-email"></div>
        <!-- The form fields below are used via javascript to add a new email address. They are not part of the login form -->
        <!-- Begin email mailbox fields -->
        <div>
          <small class="text-muted">{% trans "Add a new email address by filling out the form below. Domain not listed?" %}
          <a href="#" data-toggle="modal" data-target="#flower-modal-add-domain-zone">{% trans 'Add a new zone.' %}</a></small>
        </div>

        <div class="form-row">
          <input type="hidden" id="id_login" value={{ login_id }}>
          <div class="col">
            <input type="text" name="local" maxlength="254" id="id_local" class="form-control">
            <ul id="errors_local" class="errorlist"></ul>
          </div>
          <div class="col">
            <div class="input-group">
              <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <!-- Select options are filled via javascript -->
            <select name="domain_name" id="id_domain_name" class="form-control"></select>
          </div>
          <div><ul id="errors_domain_name" class="errorlist"></ul></div>
        </div>
        <div class="col">
          <button id="flower-add-email-mailbox" class="btn btn-sm btn-info">{% trans 'Add new email address' %}</button>
        </div>
        <!-- end email mailbox fields -->
      </div>
      
        <div id="flower-login-email-related-fields">
          <div id="div_id_auto_response_action" class="form-group">
          {{ form.auto_response_action.label_tag }} 
          {% if form.auto_response_action.help_text %}
            <div><small class="text-muted">{{ form.auto_response_action.help_text|safe }}</small></div>
          {% endif %}
          {{ form.auto_response_action }}
          {{ form.auto_response_action.errors }}
          </div>
         <div id="div_id_auto_response_reply_from" class="form-group">
            {{ form.auto_response_reply_from.label_tag }} 
            {% if form.auto_response_reply_from.help_text %}
              <div><small class="text-muted">{{ form.auto_response_reply_from.help_text|safe }}</small></div>
            {% endif %}
            {{ form.auto_response_reply_from }}
            {{ form.auto_response_reply_from.errors }}
          </div>
          <div id="div_id_auto_response" class="form-group">
            {{ form.auto_response.label_tag }} 
            {% if form.auto_response.help_text %}
              <div><small class="text-muted">{{ form.auto_response.help_text|safe }}</small></div>
            {% endif %}
            {{ form.auto_response }}
            {{ form.auto_response.errors }}
          </div>
          <div id="div_id_mailbox_quota" class="form-group">
            {{ form.mailbox_quota.label_tag }} 
            {% if form.mailbox_quota.help_text %}
              <div><small class="text-muted">{{ form.mailbox_quota.help_text|safe }}</small></div>
            {% endif %}
            {{ form.mailbox_quota }}
            {{ form.mailbox_quota.errors }}
          </div>
          <div class="flower-save">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
          </div>

        </div>
      </div>
      <div id="flower-login-access" class="tab-pane" role="tabpanel">
       <div class="flower-save">
          <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>

        <div>
          <div id="div_id_shell_access" class="form-group form-check">
            {{ form.shell_access }}
            <label class="form-check-label" for="{{ form.shell_access.id_for_label}}">
              {{ form.shell_access.label }}
            </label>
            {{ form.shell_access.errors }}
            {% if form.shell_access.help_text %}
              <div>
                <small class="text-muted">{{ form.shell_access.help_text|safe }}</small>
              </div>
            {% endif %}
          </div>
          <div id="div_id_ssh_key" class="form-group">
            {{ form.ssh_key.label_tag }} 
            {% if form.ssh_key.help_text %}
              <div><small class="text-muted">{{ form.ssh_key.help_text|safe }}</small></div>
            {% endif %}
            {{ form.ssh_key }}
            {{ form.ssh_key.errors }}
          </div>
          <div id="div_id_nextcloud_access" class="form-group form-check">
            {{ form.nextcloud_access }}
            <label class="form-check-label" for="{{ form.nextcloud_access.id_for_label}}">
              {{ form.nextcloud_access.label }}
            </label>
            {{ form.nextcloud_access.errors }}
            {% if form.nextcloud_access.help_text %}
              <div>
                <small class="text-muted">{{ form.nextcloud_access.help_text|safe }}</small>
              </div>
            {% endif %}
          </div>
          <div id="div_id_nextcloud_quota" class="form-group">
            {{ form.nextcloud_quota.label_tag }} 
            {% if form.nextcloud_quota.help_text %}
              <div><small class="text-muted">{{ form.nextcloud_quota.help_text|safe }}</small></div>
            {% endif %}
            {{ form.nextcloud_quota }}
            {{ form.nextcloud_quota.errors }}
          </div>
          <div id="div_id_livestreaming_access" class="form-group form-check">
            {{ form.livestreaming_access }}
            <label class="form-check-label" for="{{ form.livestreaming_access.id_for_label}}">
              {{ form.livestreaming_access.label }}
            </label>
            {{ form.livestreaming_access.errors }}
            {% if form.livestreaming_access.help_text %}
              <div>
                <small class="text-muted">{{ form.livestreaming_access.help_text|safe }}</small>
              </div>
            {% endif %}
          </div>
          <div id="div_id_xmpp_access" class="form-group form-check">
            {{ form.xmpp_access }}
            <label class="form-check-label" for="{{ form.xmpp_access.id_for_label}}">
              {{ form.xmpp_access.label }}
            </label>
            {{ form.xmpp_access.errors }}
            {% if form.xmpp_access.help_text %}
              <div>
                <small class="text-muted">{{ form.xmpp_access.help_text|safe }}</small>
              </div>
            {% endif %}
          </div>
          {% if user.is_superuser %}
          <div id="div_id_mail_store" class="form-group">
            {{ form.mail_store.label_tag }} 
            {% if form.mail_store.help_text %}
              <div><small class="text-muted">{{ form.mail_store.help_text|safe }}</small></div>
            {% endif %}
            {{ form.mail_store }}
            {{ form.mail_store.errors }}
          </div>
          <div id="div_id_partition" class="form-group">
            {{ form.partition.label_tag }} 
            {% if form.partition.help_text %}
              <div><small class="text-muted">{{ form.partition.help_text|safe }}</small></div>
            {% endif %}
            {{ form.partition }}
            {{ form.partition.errors }}
          </div>

          {% endif %}

          <div class="flower-save">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
          </div>
        </div>
      </div>

      {% include 'history.html' %}

    </div>

  </form>
</div>
<!-- Keep modal out of main form -->
{% include 'modal/domain_zone_form.html' %}
{% endblock %}
