{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}
<div id="flower-login-form-create" class="flower-resource-form">
  <h2>{% trans 'Login' %}</h2>
  <form method="post">{% csrf_token %}
    {{ form.member.as_hidden }}
    <div id="div_id_first_name" class="form-group">
      {{ form.first_name.label_tag }} 
      {% if form.first_name.help_text %}
        <div><small class="help">{{ form.first_name.help_text|safe }}</div>
      {% endif %}
      {{ form.first_name }}
      {{ form.first_name.errors }}
    </div>
    <div id="div_id_last_name" class="form-group">
      {{ form.last_name.label_tag }} 
      {% if form.last_name.help_text %}
        <div><small class="text-muted">{{ form.last_name.help_text|safe }}</small><div>
      {% endif %}
      {{ form.last_name }}
      {{ form.last_name.errors }}
    </div>
    <div id="div_id_username" class="form-group">
      {{ form.username.label_tag }} 
      {% if form.username.help_text %}
        <div><small class="text-muted">{{ form.username.help_text|safe }}</small></div>
      {% endif %}
      {{ form.username }}
      {{ form.username.errors }}
    </div>
    <div id="div_id_password" class="form-group">
      {{ form.password.label_tag }} 
      <!-- Override help text so we can display different text on create vs update -->
      <div><small class="text-muted">{% trans "Enter a password that is at least 10 characters long. Or, leave the password field blank and a random password will be created for you." %} {% trans "Or " %} <a href="#" id="flower-generate-random-password">{% trans 'click here to generate a random password yourself.' %}</a></small></div>
      {{ form.password }}
      {{ form.password.errors }}
    </div>
    <div id="div_id_recovery_email" class="form-group">
      {{ form.recovery_email.label_tag }} 
      {% if form.recovery_email.help_text %}
        <div><small class="text-muted">{{ form.recovery_email.help_text|safe }}</small></div>
      {% endif %}
      {{ form.recovery_email }}
      {{ form.recovery_email.errors }}
    </div>
    <div class="form-group form-check">
      <input type="checkbox" name="flower_send_password_reset" id="flower_send_password_reset" />
      <label class="form-check-label" for="flower_send_password_reset">
        <small class="text-muted">{% trans "Send password reset link to the recovery email when you save this record." %}</small>
      </label>
    </div>
    <div class="flower-save">
        <button type="submit" class="btn btn-primary">{% trans 'Next' %}</button>
    </div>
  </form>
</div>
{% endblock %}
