{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}
<div id="flower-mailing-list-form" class="flower-resource-form">
  <h2>{% trans 'Mailing List' %}</h2>
  <form method="post">{% csrf_token %}
    {{ form.member.as_hidden }}
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a id="flower-mailing-list-activate-fields" class="nav-link active" role="tab" data-toggle="tab" href="#flower-mailing-list-fields" aria-controls="Email Alias fields" aria-selected="true">{% trans "Email Mailbox fields" %}</a>
      </li>
      <li class="nav-item">
        <a id="flower-mailing-list-activate-history" class="nav-link" role="tab" data-toggle="tab" href="#flower-history" aria-controls="History" aria-selected="false">{% trans "History" %}</a>
      </li>
    </ul>
   <div class="tab-content">
      <div id="flower-email-mailbox-fields" class="tab-pane active" role="tabpanel">

        <div id="div_id_listname" class="form-group">
          {{ form.listname.label_tag }} 
          {% if form.listname.help_text %}
            <div><small class="text-muted">{{ form.listname.help_text|safe }}</small></div>
          {% endif %}
          {{ form.listname }}
          {{ form.listname.errors }}
        </div>
        <div id="div_id_mailing_list_domain" class="form-group">
          {{ form.mailing_list_domain.label_tag }} 
          <div>
            {% if form.mailing_list_domain.help_text %}
              <small class="text-muted">{{ form.mailing_list_domain.help_text|safe }}</small>
            {% endif %}
            {{ form.mailing_list_domain }}
            {{ form.mailing_list_domain.errors }}
            <small><a href="#" data-toggle="modal" data-target="#flower-modal-add-mailing-list-domain">{% trans "Mailing list domain not listed? Create it." %}</a></small>
          </div>
        </div>
        <div class="flower-save">
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
        </div>
      </div>

      {% include 'history.html' %}

    </div>
  </form>
  <!-- keep modals out of main form -->
  {% include 'modal/mailing_list_domain_form.html' %}
</div>
{% endblock %}

