{% extends "base_resource.html" %}

{% load i18n %}

{% block entity_content %}

<h1>{% trans 'Mailing Lists' %}</h1>

<p class="text-muted">{% trans "Mailing lists allow you to easily communicate with a group of email addresses by sending a message to a single address. A mailing list can allow all participants to share messages or they can be configured to send messages from just one or a few people to everyone." %}</p>

<a class="btn btn-primary" href="{% url 'mailing-list-create' member_pk %}">{% trans 'New Mailing List' %}</a>
{% if entity_list %}
  <table class="table">
    <tr>
      <th>{% trans 'Name' %}</th><th>{% trans 'Domain' %}</th><th>{% trans 'Status' %}</th><th>{% trans 'Actions' %}</th>
    </tr>
    {% for entity in entity_list %}
      <tr class="{% if entity.display_as_disabled %}text-muted{% endif %}">
        <td>{{ entity.listname }}</td>
        <td>{{ entity.mailing_list_domain }}</td>
        <td>{{ entity.get_display_status }}</td>
        <td>
          <a class="btn btn-info" href="{% url 'mailing-list-update' member_pk entity.id %}">{% trans 'Edit' %}</a>
          <a class="btn btn-danger" href="{% url 'mailing-list-delete' member_pk entity.id %}">{% trans 'Delete' %}</a>
          {% if entity.display_as_disabled %}
            <a class="btn btn-success" href="{% url 'mailing-list-enable' member_pk entity.id %}">{% trans 'Enable' %}</a>
          {% else %}
            <a class="btn btn-warning" href="{% url 'mailing-list-disable' member_pk entity.id %}">{% trans 'Disable' %}</a>
          {% endif %}

        </td>
      </tr>
    {% endfor %}
  </table>
  {% if is_paginated %}
    <nav aria-label="Navigation links">
      <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a></li>
      {% endif %}
      <li class="page-item"><span class="page-link text-muted">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}</span></li>
      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a></li>
      {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endif %}

{% endblock %}


