{% extends "base_generic.html" %}

{% load i18n %}

{% block generic_content %}

<h1>Delete</h1>


<p>{% blocktrans %}Are you sure you want to delete <strong>{{ entity }}</strong>? All resources attached to this membership (including logins) will also be permanently wiped out. <em>NOTE: if your login is part of this membership, it will be irreversibly destroyed.</em>{% endblocktrans %}</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="Yes, delete.">
</form>

{% endblock %}
