{% extends "base_generic.html" %}

{% load i18n %}

{% block generic_content %}

<div class="flower-member-list flower-top-container">
  <h1>{% trans 'Members' %}</h1>

  <p class="text-muted">{% trans "You are in the control panel, where you can create email accounts, web sites, email lists and other online resources for your membership. To get started, click on the 'View resources' link to see the resources available to your membership." %}</p>

  {% if user.is_superuser %}
    <a class="btn btn-primary" href="{% url 'member-create' %}">{% trans 'New Member' %}</a>
  {% endif %}

  {% if entity_list %}
    <table class="table">
      <tr>
        <th>{% trans 'ID' %}</th><th>{% trans 'Membership' %}</th><th>{% trans 'Actions' %}</th>
      </tr>
      {% for entity in entity_list %}
        <tr class="{% if not entity.is_active %}text-muted{% endif %}">
          <td>{{ entity.id }}</td>
          <td>{{ entity }}</td>
          <td>
            <a class="btn btn-info" href="{% url 'member-detail' entity.id %}">{% trans 'View resources' %}</a>
              {% if user.is_superuser %}
              <a class="btn btn-info" href="{% url 'member-update' entity.id %}">{% trans 'Edit' %}</a>
              {% endif %}
              <a class="btn btn-danger" href="{% url 'member-delete' entity.id %}">{% trans 'Delete' %}</a>
              {% if entity.is_active %}
                <a class="btn btn-warning" href="{% url 'member-disable' entity.id %}">{% trans 'Disable' %}</a>
              {% else %}
                <a class="btn btn-success" href="{% url 'member-enable' entity.id %}">{% trans 'Enable' %}</a>
              {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>

{% endblock %}


