{% extends "base_logged_out.html" %}

{% load i18n %}

{% block base_content %}

<div class="flower-welcome flower-top-container">
  <h1>{% trans 'Welcome' %}</h1>

  <p>{% trans 'Welcome to the May First control panel. For more information about May First and to join, please <a href="https://mayfirst.coop/">please visit our web site</a>. If you are an existing member, please login to access your hosting services.' %}</p>

{% endblock %}


